html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  position: relative;
  display: block;
  background-color: $bg-color;
  font-family: $main-font;
  font-style: normal;
  $font-bold: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: $main-text;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: $main-color;
  @include cubic(color);
}
a:hover,
a:focus {
  color: $accent-color;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0px;
}
input,
textarea,
a,
button {
  outline-color: $circle;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
