%button {
  background-color: $main-color;
  font-size: 16px;
  font-weight: $font-bold;
  color: $accent-color;
  font-family: $main-font;
  border-color: transparent;
  border-radius: 22px;
  &:hover,
  &:focus {
    background-color: $btn-hover;
  }
}
