%button {
  background-color: $main-color;
  font-size: 16px;
  font-weight: $font-bold;
  color: $accent-color;
  font-family: $main-font;
  border-color: transparent;
  border-radius: 22px;
  &:hover,
  &:focus {
    background-color: $btn-hover;
  }
}
%modal-input-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 30px;
  left: 12px;
  fill: $accent-color;
}
