
<section class="conteiner about">
       
            <div class="title">
                <span class="title__span">TRADITION AND LOVE</span>
                <h2 class="title__text"> HOW IT'S MADE?</h2>
            </div>
            <div class="about__information">
            
            <div class="picture">
                <img src='/images/desktop/about/milkandcow.png' alt="">
            </div>

            <div>
             
            <p class="text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
                Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>

            <p class="description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt</p>

                <p class='description__add'> Aliquam erat volutpat. Aenean accumsan.</p>     
                
                <div class='about-button'>
                    <button class="about-button__btn" type="button">Read more
                        <svg class="about-button__svg">
                            <use   href="./images/icons/arrow-right.svg"></use>
                        </svg>
                    </button>
                </div>
            </div>
            
            </div>

              
        
          
    </section>
</html>