<section class="advantages" id="advantages"> 
    <h2 class="visually-hidden">Advantages</h2>
    <div class="container container__advantages">
        <ul class="advantages__list">
            <li class="advantages__item">
                <span class="advantages__content">721</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__content">16kg</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__content">84</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>