<section class="lazy one-time">
  <div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque similique corrupti
      consequuntur, ut eius doloremque autem iure voluptas, commodi amet rerum vel perferendis velit
      quis dolore officiis, nam saepe voluptatem?
    </p>
    <a href="#">...</a>
  </div>
  <div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque similique corrupti
      consequuntur, ut eius doloremque autem iure voluptas, commodi amet rerum vel perferendis velit
      quis dolore officiis, nam saepe voluptatem?
    </p>
  </div>
  <div></div>
</section>
