<footer class="basement" id="footer">
  <div class="container">
    <div class="basement__container">
      <div class="basement__left-column">
        <p class="basement__title--accent">homemade ice cream made</p>
        <p class="basement__title">with passion</p>
      </div>
      <div class="basement__right-column">
        <ul class="basement__list">
          <li class="basement__item">
            <a
              class="basement__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="basement__svg-github">
                <use href="./images/icons/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="basement__item">
            <a
              class="basement__link"
              href="https://web.telegram.org/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="basement__svg-telegram">
                <use href="./images/icons/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="basement__item">
            <a
              class="basement__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="basement__svg-facebook">
                <use href="./images/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <address class="basement__address">
          <a href="tel:+610383766284" class="basement__phone">
            Feel free to contact<span class="basement__phone--accent"> +61 (0) 383 766 284</span>
          </a>
        </address>
      </div>
    </div>
  </div>
  <div class="basement__line"></div>
  <p class="basement__copy">&copy; 2019 - IceCream. All Rights Reserved.</p>
</footer>
