<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container gallery">
      <h2>Grid gallery</h2>
      <ul class="grid__list">
        <li class="grid__item grid__item-1">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic1.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-2">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic2.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-3">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic3.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-4">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic0.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-5">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic4.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-6">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic5.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-7">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic6.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-8">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic7.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-9">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic8.jpg" alt="" />
          </div>
        </li>
        <li class="grid__item grid__item-10">
          <div class="masonry__thumb">
            <img class="masonry__img" src="./images/desktop/gallery/grouppic9.jpg" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
