<header class="header">
    <section class="container">
    <nav class="header__navigation">
        <a class="logo" href="index.html">
            <img src="/images/logo.png" alt="IceCream" /></a>
        <ul class="nav">
            <li><a class="nav__link_active nav__link" href="">Home</a></li>
            <li><a class="nav__link" href="">About us</a></li>
            <li><a class="nav__link" href="">How it’s made?</a></li>
            <li><a class="nav__link" href="">Our products</a></li>
            <li><a class="nav__link" href="">Contact</a></li>
        </ul>
    </nav>
    <button class="button">Buy now </button>
    <button data-menu-button aria-expanded="false" type="button" class="menu__button " aria-controls="menu-container">
        <svg aria-label="Переключатель мобильного меню" >
            <use class="icon-menu" width="20px" height="12px" href="./images/icomoon/symbol-defs.svg#icon-menu"></use>
            <use class="icon-close" width="14" height="14" href="./images/icomoon/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
    <div class="menu-container" id="menu-container" data-menu>
            <button class="menu-container__button button">Buy now</button>
            <ul class="menu-container__list">
                         <li class="menu-container__item"><a class="menu-container__link_active nav__link" href="">Home</a></li>
                        <li class="menu-container__item"><a class="menu-container__link" href="">About us</a></li>
                        <li class="menu-container__item"><a class="menu-container__link" href="">How it’s made?</a></li>
                        <li class="menu-container__item"><a class="menu-container__link" href="">Our products</a></li>
                        <li class="menu-container__item"><a class="menu-container__link" href="">Contact</a></li>
            </ul>
     
        
    </div>
    </section>
</header>