<header class="header" id="header">
    <section class="container header__container">
        <nav class="header__navigation">
            <a class="logo" href="#header">
                <img src="/images/logo.png" alt="IceCream" /></a>
            <ul class="nav">
                <li><a class="nav__link_active nav__link" href="#header">Home</a></li>
                <li><a class="nav__link" href="#about">About us</a></li>
                <li><a class="nav__link" href="#advantages">How it’s made?</a></li>
                <li><a class="nav__link" href="#products">Our products</a></li>
                <li><a class="nav__link" href="#contacts">Contact</a></li>
            </ul>
        </nav>
        <button data-modal-open type="button" class="button header__button ">
            <span class="header__button-span">Buy now
                <svg class="header__button-arrow" width="6" height="10">
                    <use href="./images/icons/sprite.svg#icon-buy" />
                </svg>
            </span>
        </button>
        <input type="checkbox" id="menu" />
        <label for="menu" class="menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
        </div>
        <div class="menu-container">
            <button data-modal-open type="button" class="button menu-container__button  ">
                <span class="header__button-span">Buy now
                    <svg class="header__button-arrow" width="16" height="20">
                        <use href="./images/icons/sprite.svg#icon-buy" />
                    </svg>
                </span>
            </button>
            <ul class="menu-container__list">
                <li class="menu-container__item"><a class="menu-container__link_active" href="#header">Home</a></li>
                <li class="menu-container__item"><a class="menu-container__link" href="#about">About us</a></li>
                <li class="menu-container__item"><a class="menu-container__link" href="#advantages">How it’s made?</a></li>
                <li class="menu-container__item"><a class="menu-container__link" href="#products">Our products</a></li>
                <li class="menu-container__item"><a class="menu-container__link" href="#contacts">Contact</a></li>
            </ul>
        
            </section>
        <section class="hero-background container">
            <div class="hero " id="hero">
                <div class="hero-content">
                    <div class="hero-top-information">
                        <div class="hero-information">
                            <p class="hero-info-cafe">
                                16<span class="hero-cafe-white">cafes</span>
                            </p>
                            <p class="hero-info-truck">
                                23<span class="hero-truck-white">food trucks</span>
                            </p>
                        </div>
                        <div class="hero-navigation">
                            <h1 class="hero-heading">
                                ice cream made with
                                <span class="hero-highlight">passion</span>
                            </h1>
                            <ul class="hero-btn-list">
                                <li class="hero-btn-item list">
                                    <a class="link hero-btn-products" href="#products">
                                        <span class="hero-btn-text">Products</span>
        
                                    </a>
                                </li>
                                <li class="hero-btn-item list">
                                    <a class="link hero-btn-him" href="#about">
                                        <span class="hero-btn-text">How it’s made?</span>
        
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="milk-section">
                        <p class="milk-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et
                        </p>
                        <a href="/index.html" class="milk-arrow">
                            <picture>
                                <source srcset="/images/tablet/hero/arrow.webp  1x, 
                                            /images/tablet/hero/arrow@2x.webp  2x" type="image/webp"
                                    media="(min-width: 768px)" />
                                <source srcset="
                                    /images/tablet/hero/arrow.png  1x, 
                                            /images/tablet/hero/arrow@2x.png 2x
                                    " type="image/png" media="(min-width: 768px)" />
                                <source srcset="/images/desktop/hero/arrow.webp    1x,
                                    /images/desktop/hero/arrow@2x.webp 2x
                                    " type="image/webp" media="(min-width: 1200px)" />
                                <source srcset="
                                    /images/desktop/hero/arrow.png    1x,
                                    /images/desktop/hero/arrow@2x.png 2x
                                    " type="image/png" media="(min-width: 1200px)" />
                                <img class="milk-arrow" srcset="
                                    /images/tablet/hero/arrow.png  1x, 
                                            /images/tablet/hero/arrow@2x.png 2x
                                    " src="/images/tablet/hero/arrow.png" alt="arrow" />
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </section>
            </header>
          
            