
<section class="hero-background">
    <div class="hero" id="hero">
        <div class="hero-container container">
            <div class="hero-top-information">
                <div class="hero-information">
                    <p class="hero-info-cafe">
                        16<span class="hero-cafe-white">cafes</span>
                    </p>
                    <p class="hero-info-truck">
                        23<span class="hero-truck-white">food trucks</span>
                    </p>
                </div>
                <div class="hero-navigation">
                    <h1 class="hero-heading">
                        ice cream made with
                        <span class="hero-highlight">passion</span>
                    </h1>
                    <ul class="hero-btn-list">
                        <li class="hero-btn-item list">
                            <a class="link hero-btn-products" href="#products">Products</a>
                        </li>
                        <li class="hero-btn-item list">
                            <a class="link hero-btn-him" href="#about">How it’s made?</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="milk-section">
                <p class="milk-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
                <a href="#">
                    <picture>
                        <source srcset="//src/images/tablet/hero/arrow.webp  1x, 
                        //src/images/tablet/hero/arrow@2x.webp  2x" 
                        type="image/webp" media="(min-width: 768px)" />
                        <source srcset="
                //src/images/tablet/hero/arrow.png  1x, 
                        //src/images/tablet/hero/arrow@2x.png 2x
                " type="image/png" media="(min-width: 768px)" />
                        <source srcset="//src/images/desktop/hero/arrow.webp    1x,
                //src/images/desktop/hero/arrow@2x.webp 2x
                " type="image/webp" media="(min-width: 1200px)" />
                        <source srcset="
                //src/images/desktop/hero/arrow.png    1x,
                //src/images/desktop/hero/arrow@2x.png 2x
                " type="image/png" media="(min-width: 1200px)" />
                        <img class="milk-arrow" srcset="
                //src/images/tablet/hero/arrow.png  1x, 
                        //src/images/tablet/hero/arrow@2x.png 2x
                " src="//src/images/tablet/hero/arrow.png" alt="arrow" />
                    </picture>
                </a>
            </div>
        </div>
    </div>
</section>