.about {
  height: 940px;
  background-color: $bg-section;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('/images/mobile/about/sectionbg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 750px;
}
.title {
  text-align: center;
}

.title__span {
  width: 480px;

  color: $circle;

  font-family: $title-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1px;
}
.title__text {
  margin-top: 15px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;

  color: $accent-color;

  font-family: $title-font;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 1px;
}

.picture {
  width: 280px;
  height: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 26px;
}
.about-button {
  text-align: center;
}
.text {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 46px;
  margin-bottom: 47px;

  color: $head-text;

  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}

.description {
  width: 220px;
  height: 155px;
  margin-right: auto;
  margin-left: auto;

  color: $main-text;

  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}
.description__add {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 17px;

  color: $main-text;

  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}

.about-button__btn {
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  display: inline-flex;
  margin-bottom: 39px;
  align-items: center;
  padding-left: 37px;

  width: 176px;
  height: 44px;

  background-color: #ffffff;
  color: $accent-color;
  border: none;
  border-radius: 22px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.about-button__svg {
  width: 8px;
  height: 10px;

  padding-left: 14px;
}
