@import '../utils/variables';

.section-reviws {
  padding: 80px 0px;
  background-color: white;
  @media screen and (min-width: 772px) {
    padding: 120px 0px;
  }
  @media screen and (min-width: 1280px) {
    padding: 132px 0px;
  }
}

.customer-reviews__item {
  display: flex;
  flex-direction: column;
}

.customer-reviews__img-client {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
}
.customer-reviews__block {
  position: relative;
  padding: 43px 66px 26px 66px;
  margin-bottom: 52px;
  background-color: #fafafa;
  background-image: url(./../images/icons/quotes.svg);
  background-position: 50px 30px;
  background-size: 54px 40px;
  background-repeat: no-repeat;
  &::after {
    position: absolute;
    bottom: -46px;
    left: 50%;
    transform: translateX(-50%);
    content: '. . .';
    cursor: pointer;
    color: #c7133e;
    font-size: 30px;
  }
}
.customer-reviews__review {
  position: relative;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.04em;
  color: $head-text;
  // text-decoration: underline #e1e1e1;

  background-image: -webkit-linear-gradient(#e1e1e1 1px, transparent 1px);
  background-size: 100% 31px;

  background-image: -webkit-linear-gradient(#e1e1e1 1px, transparent 1px);
  background-image: linear-gradient(#e1e1e1 1px, transparent 1px);
  background-position: 0px 28px;
  background-repeat: round;

  @media screen and (min-width: 772px) and (max-width: 1279px) {
    font-size: 14px;
    line-height: 30px;
    background-position: 0px 28px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 30px;
    background-position: 0px 28px;
  }
}
.customer-reviews__bg-icon {
  position: absolute;
  fill: black;
  top: 30px;
  left: 50px;
  width: 54px;
  width: 40px;
}
.customer-reviews__name-city {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  @media screen and (min-width: 772px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
