.header {
  position: relative;
  width: 100vw;
  padding-top: 6px;
  background-color: $bg-header;
  @media screen and (min-width: 768px) {
    padding-bottom: 15px;
    padding-top: 37px;
    .header__button {
      margin-left: 250px;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 84px;
    padding-top: 37px;
    .header__button {
      margin-right: 0;
      margin-left: 0;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    .nav {
      display: flex;
      width: 541px;
      height: 21px;
      justify-content: space-between;
      margin-left: 80px;
      margin-top: 10px;
      //margin-left: 110px;
    }
    .header__navigation {
      display: flex;
      width: 100%;
    }
  }
}

.nav__link {
  font-weight: $font-bold;
}
.logo {
  display: block;
  width: 199px;
  height: 50px;
}
@media screen and (max-width: 1279px) {
  .nav {
    display: none;
  }
}
/*.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 9;
  padding: 60px 34px 0 34px;
  background-color: $bg-menu;
  pointer-events: none;
  overflow-y: scroll;
  margin: 0;
  transform: translateX(100%);
  transition: transform 2s cubic-bezier(0.77, 0.2, 0.05, 1);

  &.is-open {
    pointer-events: auto;
    transform: translateX(0);
  }

  @media screen and(min-width:321px) {
    width: 280px;
    left: unset;
    right: 0;
  }
  @media screen and(min-width: 480px) {
    width: 260px;
  }
}

.menu__button {
  position: absolute;
  display: flex;
  width: 20px;
  height: 12px;
  left: 92%;
  top: 20px;
  padding: 0;
  background: transparent;
  border: none;
  z-index: 12;
  fill: $accent-color;
  justify-content: center;
  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: currentColor;
  }
  @media screen and(min-width:768px) {
    position: relative;
    left: unset;
    right: 0;
    top: 16px;
  }
  @media screen and(min-width:1279px) {
    display: none;
  }
}
.menu__button.is-open {
  @media screen and(min-width:480px) {
    position: absolute;
    top: 10px;
    left: unset;
    //right: -100px;
  }
  @media screen and(min-width:768px) {
    top: -10px;
    left: unset;
    //right: -4%;
  }
  @media screen and(min-width:999px) {
    top: -10px;
    left: unset;
    //right: -12%;
  }
}
.icon-close {
  display: none;
}

.icon-menu {
  display: block;
  width: 20px;
  height: 12px;
}
*/
.button {
  @extend %button;
  @include cubic(background-color);
  @include cubic(color);
  width: 160px;
  height: 44px;
  padding: 10px 33px;

  .header__button-span {
    display: inline-block;
    width: 100%;
    height: 44px;
    text-align: left;
  }
  @media screen and(max-width:767px) {
    display: none;
  }
}
.header__button-arrow {
  position: absolute;
  margin-left: 12px;
  margin-top: 5px;
}

.menu-container__button {
  display: block;
  height: 44px;
  @media screen and (max-width: 320px) {
    width: 80%;
    margin-top: 60px;
    margin-left: 20px;
  }
  @media screen and (min-width: 321px) {
    width: 209px;
    margin-top: 60px;
    margin-left: 20px;
  }
  @media screen and(min-width:480px) {
    width: 186px;
    margin-top: 60px;
    margin-left: 25px;
  }
}
/*.menu-container__list {
  padding-top: 20px;
  .menu-container__item {
    padding: 12px 0;
  }
}
.menu__button.is-open .icon-close {
  display: block;
  width: 14px;
  height: 14px;
  fill: $main-color;
}

.menu__button.is-open .icon-menu {
  display: none;
}
*/

.menu {
  position: relative;
  // top: 20px;
  //right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  //box-shadow: 0 0 20px rgba(black,0.2);
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
  span {
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    background-color: $accent-color;
    float: right;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200;

    &:nth-of-type(1) {
      transform: translateY(-5px);
    }

    &:nth-of-type(3) {
      transform: translateY(5px);
    }
  }
}

#menu {
  display: none;

  &:checked ~ .menu {
    background-color: transparent;
    transform: rotate(360deg);
    transition: transform 250ms ease;
    position: fixed;
    right: 10px;
    @media screen and (max-width: 767px) {
      top: 40px;
    }
    span {
      background-color: white;
      position: fixed;
      top: -10px;

      transition: transform 250ms ease;

      &:nth-of-type(1) {
        transform: translateY(1px) rotate(45deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        transform: translateY(-1px) rotate(-45deg);
      }
    }
  }

  &:checked ~ .menu-container {
    right: 0px;
    transition: right $base-duration ease;
    @media screen and(max-width:320px) {
      width: 100%;
      height: 100%;
    }
  }

  &:checked ~ main {
    transform: translateX(250px);
    transition: transform $base-duration ease;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e17992;
  transition: right $base-duration ease;
  z-index: 2;

  .menu-container__list {
    position: relative;
    list-style-type: none;
    padding: 32px 24px 0;

    .menu-container__item {
      position: relative;
      display: block;
      padding-bottom: 23px;
      font-weight: $font-bold;
      font-family: $main-font;
      .menu-container__link {
        position: relative;
        display: block;
        margin: 0;

        &:before {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          transition: width 250ms ease;
          z-index: -1;
        }

        &:hover {
          color: #444;

          &:before {
            width: 100%;
            height: 100%;
            background-color: rgba(white, 1);
            transition: width 250ms ease;
          }
        }
      }
    }
  }
}
.nav__link_active,
.menu-container__link_active {
  color: $accent-color;
}
