.header {
  position: relative;
  width: 100vw;
  padding-top: 6px;
  background-color: $bg-header;
  padding-bottom: 0;
  @media screen and (min-width: 768px) {
    .header__button {
      margin-left: 250px;
      margin-top: 5px;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 1280px) {
    .header__button {
      margin-right: 0;
      margin-left: 0;
      margin-top: 5px;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    .nav {
      display: flex;
      width: 541px;
      height: 21px;
      justify-content: space-between;
      margin-left: 50px;
    }
    .header__navigation {
      display: flex;
      width: 100%;
    }
  }
}
.header__container {
  position: absolute;
  z-index: 6;
  left: 50%;
  margin-left: -50%;
  padding-top: 0px;
  @media screen and(min-width:480px) {
    margin-left: -123px;
  }
  @media screen and(min-width:768px) {
    margin-left: -350px;
    padding-top: 31px;
  }
  @media screen and(min-width:1280px) {
    margin-left: -525px;
    padding-top: 31px;
  }
}
.nav__link {
  font-weight: $font-bold;
}
.logo {
  display: block;
  width: 199px;
  height: 50px;
}
@media screen and (max-width: 1279px) {
  .nav {
    display: none;
  }
}
.button {
  @extend %button;
  @include cubic(background-color);
  @include cubic(color);
  width: 160px;
  height: 44px;
  padding: 10px 33px;

  .header__button-span {
    display: inline-block;
    width: 100%;
    height: 44px;
    text-align: left;
  }
  @media screen and(max-width:767px) {
    display: none;
  }
}

.header__button-arrow {
  position: absolute;
  margin-left: 12px;
  margin-top: 5px;
}

.menu-container__button {
  display: block;
  height: 44px;
  @media screen and (max-width: 320px) {
    width: 80%;
    margin-top: 60px;
    margin-left: 20px;
  }
  @media screen and (min-width: 321px) {
    width: 209px;
    margin-top: 60px;
    margin-left: 20px;
  }
  @media screen and(min-width:480px) {
    width: 186px;
    margin-top: 60px;
    margin-left: 25px;
  }
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
  span {
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    background-color: $accent-color;
    float: right;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200;

    &:nth-of-type(1) {
      transform: translateY(-5px);
    }

    &:nth-of-type(3) {
      transform: translateY(5px);
    }
  }
}

#menu {
  display: none;

  &:checked ~ .menu {
    background-color: transparent;
    transform: rotate(360deg);
    transition: transform 250ms ease;
    position: fixed;
    right: 10px;
    @media screen and (max-width: 767px) {
      top: 40px;
    }
    span {
      background-color: white;
      position: fixed;
      top: -10px;

      transition: transform 250ms ease;

      &:nth-of-type(1) {
        transform: translateY(1px) rotate(45deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        transform: translateY(-1px) rotate(-45deg);
      }
    }
  }

  &:checked ~ .menu-container {
    right: 0px;
    height: 100%;
    transition: right $base-duration ease;
    @media screen and(max-width:320px) {
      width: 100%;
      height: 100%;
    }
  }

  &:checked ~ main {
    transform: translateX(250px);
    transition: transform $base-duration ease;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e17992;
  transition: right $base-duration ease;
  z-index: 2;

  .menu-container__list {
    position: relative;
    list-style-type: none;
    padding: 32px 24px 0;

    .menu-container__item {
      position: relative;
      display: block;
      padding-bottom: 23px;
      font-weight: $font-bold;
      font-family: $main-font;
      .menu-container__link {
        position: relative;
        display: block;
        margin: 0;

        &:before {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          transition: width 250ms ease;
          z-index: -1;
        }

        &:hover {
          color: $accent-color;

          &:before {
            width: 100%;
            height: 100%;
            transition: width 250ms ease;
          }
        }
      }
    }
  }
}
.nav__link_active,
.menu-container__link_active {
  color: $accent-color;
}
