.producte {
  background-color: $main-color;
  padding-top: 125px;
  padding-bottom: 120px;
}
.producte__title-label {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $circle;
}
