.product {
  background-color: $main-color;
  padding-top: 120px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 110px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 120px;
  }
}
.product__title-label {
  font-family: $title-font;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $circle;

  margin-top: 0;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.product__list {
  position: relative;
  perspective: 1000px;
}
.product__title {
  font-family: $title-font;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $accent-color;

  margin-top: 0;
  margin-bottom: 145px;

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 260px;
    font-size: 58px;
    line-height: 1.13;
  }
}

.card-set {
  @media screen and (min-width: 768px) {
    @include flex-container(20px);
  }
  @media screen and (min-width: 1200px) {
    @include flex-container(30px);
  }
}

.product__item {
  border-radius: 24px;
  padding: 40px;
  flex-basis: 100%;
  height: 485px;

  transform-style: preserve-3d;
  transition: all 0.5s ease;

  &.product__item--rotate {
    transform: rotateY(180deg);
  }

  @media screen and (min-width: 768px) {
    padding: 20px 10px 40px;
    @include calcFor(3, 20px);
  }

  @media screen and (min-width: 1280px) {
    padding: 50px 44px;
    @include calcFor(3, 30px);
    height: 525px;
  }
}

.product__item:not(:last-child) {
  margin-bottom: 130px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.product__item--bg-pink {
  background-color: $bg-header;
}

.product__item--bg-yellow {
  background-color: $ice-coffee;
}

.product__item--bg-green {
  background-color: $milkshakes;
}

@mixin card($bgcolor) {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: $bgcolor;
  top: 0;
  left: 0;
  border-radius: 24px;
  padding: 40px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 20px 10px 40px;
  }

  @media screen and (min-width: 1280px) {
    padding: 50px 44px;
  }
}

@mixin card-bg($card-type, $bgcolor) {
  .front-#{'' + $card-type} {
    @include card($bgcolor);
  }

  .back-#{'' + $card-type} {
    @include card($bgcolor);
    transform: rotateY(180deg);
    border-radius: 24px;
    justify-content: space-between;

    .icon-arrow-right {
      transform: scaleX(-1);
    }
  }
}

@include card-bg(pink, #ffb8ca);
@include card-bg(yellow, #f0d1a5);
@include card-bg(green, #c2e297);

.product__title-card {
  font-family: $title-font;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-color;
  font-weight: normal;
  padding-top: 120px;
  margin-bottom: 65px;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 130px;
  }

  &::before {
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    background-size: auto 100%;
    width: calc(100% + 50px);
    height: 250px;
    display: block;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
      width: calc(100% + 20px);
      height: 225px;
      bottom: 55px;
    }

    @media screen and (min-width: 1280px) {
      width: calc(100% + 90px);
      height: 335px;
      bottom: 75px;
    }
  }

  &::after {
    background-image: url('../images/icons/three-point.svg');
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    width: 26px;
    height: 6px;
    display: block;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    padding-top: 85px;
  }
}

@include product-image(title-card-pink, mobile, icecream);

@media screen and (min-width: 769px) {
  @include product-image(title-card-pink, desktop, icecream);
}

@include product-image(title-card-yellow, mobile, icecoffee);

@media screen and (min-width: 769px) {
  @include product-image(title-card-yellow, desktop, icecoffee);
}

@include product-image(title-card-green, mobile, milkshakes);

@media screen and (min-width: 769px) {
  @include product-image(title-card-green, desktop, milkshakes);
}

.product__paragraph-card {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-color;
  margin-bottom: 0;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.button-arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: $main-color;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  background-color: $main-color;
  cursor: pointer;
  // margin-top: 30px;

  //   @media screen and (min-width: 768px) {
  //     margin-top: 40px;
  //   }

  //   @media screen and (min-width: 1280px) {
  //     margin-top: 60px;
  //   }
}
.icon-arrow-right {
  width: 12px;
  height: 12px;
  fill: $home-slider;
}
